<script>
  $(function(){
	$('#collapse1')
	  .on('show.bs.collapse', function() { //< 折り畳み開く処理
		$('div[href="#' + this.id + '"]').find('span.glyphicon-collapse-down')
		  .removeClass('glyphicon-collapse-down').addClass('glyphicon-collapse-up');
	  })
	  .on('hide.bs.collapse', function() { //< 折り畳み閉じる処理
		$('div[href="#' + this.id + '"]').find('span.glyphicon-collapse-up')
		  .removeClass('glyphicon-collapse-up').addClass('glyphicon-collapse-down');
	  });
  });
</script>

<div>
	<div class="alert alert-info" >
		<span><strong>info:</strong>現在登録されている週報です。</span>
	</div>
   <!-- <div class="list-group">
		<a class="list-group-item" ng-repeat="item in items" route-href="/item/{{item.uid}}">
			<h3 class="bg-primary">報告週の実績・行動報告</h3>
			<table class="table table-bordered table-striped">
					<thead>
					  <tr>
						<th>タスク名</th>
						<th>対応期限</th>
						<th>進捗率（目標）</th>
						<th>優先度</th>
						<th>懸念点など</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>{{item.title}}</td>
						<td>{{item.memo}}</td>
						<td>{{item.memo2}}</td>
						<td>{{item.memo3}}</td>
						<td>{{item.memo4}}{{item.memo5}}{{item.memo6}}{{item.memo7}}{{item.memo8}}{{item.memo9}}{{item.memo10}}{{item.memo11}}</td>
					  </tr>
				   </tbody>
			</table>
		</a>
	</div>-->
	<div class="panel-group" id="accordion" >
		<div class="panel panel-primary">
			<div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
				<h3 class="panel-title">
					<span >案件概要</span>
					<span class="glyphicon glyphicon-collapse-down pull-right"></span>
				</h3>
			</div>
		
			<div id="collapse1" class="panel-collapse collapse" route-href="/overView/edit">
				<div class="panel-body">
					<div class="form-group">
						<div class="panel panel-primary">
						  <div class="panel-heading">プロジェクト名</div>
						  <div class="panel-body">{{ testitems2.memo8 }}</div>
						</div> 

						<div class="panel panel-primary">
						  <div class="panel-heading">作業場所</div>
						  <div class="panel-body">{{ testitems2.memo9 }}</div>
						</div> 

						<div class="panel panel-primary">
						  <div class="panel-heading">担当営業</div>
						  <div class="panel-body">{{ testitems2.memo10 }}</div>
						</div> 

						<div class="panel panel-primary">
						  <div class="panel-heading">案件概要</div>
						  <div class="panel-body">{{ testitems2.memo11 }}</div>
						</div> 

						<div class="panel panel-primary">
						  <div class="panel-heading">プロジェクト構成</div>
						  <div class="panel-body">{{ testitems2.memo12 }}</div>
						</div> 

						<div class="panel panel-primary">
						  <div class="panel-heading">環境/必要スキル</div>
						  <div class="panel-body">{{ testitems2.memo13 }}</div>
						</div> 

						<div class="panel panel-primary">
						  <div class="panel-heading">案件動向</div>
						  <div class="panel-body">{{ testitems2.memo14 }}</div>
						</div> 

						<div class="panel panel-primary">
						  <div class="panel-heading">顧客動向</div>
						  <div class="panel-body">{{ testitems2.memo15 }}</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group" id="accordion">
		<div class="panel panel-primary">
			<div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
				<h3 class="panel-title">
					<span>稼働報告<span>
					<span class="glyphicon glyphicon-collapse-down pull-right"></span>
				</h3>
			</div>
			<div id="collapse2" class="panel-collapse collapse	">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>日付</th>
									<th>出勤(予定)</th>
									<th>退勤(予定)</th>
									<th>稼動(予定)</th>
									<th>出勤(実績)</th>
									<th>退勤(実績)</th>
									<th>稼動(実績)</th>
									<th>剥離</th>
									<th>剥離理由</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in items2" route-href="/time/{{item.uid}}">
									<td>{{item.memo16}}</td>
									<td>{{item.memo17}}</td>
									<td>{{item.memo18}}</td>
									<td>7:50</td>
									<td>{{item.memo19}}</td>
									<td>{{item.memo20}}</td>
									<td>7:50</td>
									<td>0.0</td>
									<td>{{item.memo21}}</td>
								</tr>
							</tbody>
						</table> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group" id="accordion">
		<div class="panel panel-primary">
			<div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
				<h3 class="panel-title">
					<span >報告週の実績・行動報告/翌週の予定<span>
					<span class="glyphicon glyphicon-collapse-down pull-right"></span>
				</h3>
			</div> 
			<div id="collapse3" class="panel-collapse collapse	">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>タスク名</th>
									<th>対応期限</th>
									<th>進捗率（目標）</th>
									<th>進捗率（実績）</th>
									<th>懸念点など</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in items" route-href="/report/{{item.uid}}">
									<td>{{item.title}}</td>
									<td>{{item.memo}}</td>
									<td>{{item.memo2}}</td>
									<td>{{item.memo3}}</td>
									<td>{{item.memo4}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>タスク名</th>
									<th>対応期限</th>
									<th>進捗率（目標）</th>
									<th>優先度</th>
									<th>懸念点など</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>設計</td>
									<td>12月末</td>
									<td>10%</td>
									<td>高</td>
									<td>画面設計</td>
								</tr>
								<tr>
									<td>製造</td>
									<td>1月末</td>
									<td>0%</td>
									<td>中</td>
									<td>製造</td>
								</tr>
								<tr>
									<td>試験</td>
									<td>2月末</td>
									<td>0％</td>
									<td>高</td>
									<td>試験</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group" id="accordion">
		<div class="panel panel-primary">
			<div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
				<h3 class="panel-title">
					<span >案件遂行に伴う問題点・課題<span>
					<span class="glyphicon glyphicon-collapse-down pull-right"></span>
				</h3>
			</div>
			<div id="collapse4" class="panel-collapse collapse">
				<div class="panel-body">
					<a class="list-group-item" route-href="/task/edit">	
						<div class="panel panel-primary">
						  <div class="panel-heading">品質</div>
						  <div class="panel-body">{{ testitems.memo5 }}</div>
						</div>

						<div class="panel panel-primary">
						  <div class="panel-heading">コスト</div>
						  <div class="panel-body">{{ testitems.memo6 }}</div>
						</div>

						<div class="panel panel-primary">
						  <div class="panel-heading">納期</div>
						  <div class="panel-body">{{ testitems.memo7 }}</div>
						</div>

						<div class="panel panel-primary">
						  <div class="panel-heading">その他</div>
						  <div class="panel-body">{{ testitems.etc }}</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>