<div class="modal fade" id="sampleModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
		      <div class="modal-header">
		    <p >
		        <label>ログインID(*)</label>
		        <input type="text" class="form-control" placeholder="ログインを入力" ng-model="item.title" required>
		    </p>
		    <p>
		        <label>パスワード(*)</label>
		        <input type="text" class="form-control" placeholder="パスワードを入力" ng-model="item.memo" required></textarea>
		    </p>
		    <p>
		    	<button class="btn btn-primary btn-block" route-href="/list" data-dismiss="modal">LOGIN</button>
		    </p>
		    </div>
		</div>
	</div>
</div>