<div>
	<h3 class="bg-primary">案件遂行に伴う問題点・課題</h3>
	<div ng-show="!addItemForm.$valid">
    	<div class="alert alert-warning" role="alert">必須項目を入力してください</div>
	</div>
	<form role="form" name="addItemForm" ng-submit="addItem()" novalidate>
		<div class="form-group">
			<label class="control-label">品質</label>
			<textarea class="form-control"  placeholder="品質を入力" ng-model="task.quality" rows="2"></textarea>
		</div>
		<div class="form-group">
			<label class="control-label">コスト</label>
			<textarea class="form-control" placeholder="コストを入力" ng-model="task.cost" rows="2"></textarea>
		</div>
		<div class="form-group">
			<label class="control-label">納期</label>
			<textarea class="form-control" placeholder="納期を入力" ng-model="task.deliveryDate" rows="2"></textarea>
		</div>
		<div class="form-group">
			<label class="control-label">その他</label>
			<textarea class="form-control" placeholder="その他を入力" ng-model="task.etc" rows="2"></textarea>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary btn-block">登録する</button>
		</div>
	</form>
</div>
