<div class="container docs-input-sizes">
<h3 class="bg-primary">稼動報告（入力欄）</h3>
<form class="form-horizontal well" role="form">
<div class="controls control-group">
<div class="docs-input-sizes">
   <div >
   <label>出勤(予定)</label>
   <input class="span3" style="width:100%;" placeholder="出勤(予定)を入力"  type="text" >
</div>
   <div >
   <label>退勤(予定)</label>
     <input class="span3"  style="width:100%;" placeholder="退勤(予定）を入力" type="text" >
   </div>
      <div >
   <label>出勤</label>
   <input class="span3" style="width:100%;" placeholder="出勤を入力"  type="text" >
</div>
   <div >
   <label>退勤</label>
   <input class="span3" style="width:100%;" placeholder="退勤を入力" type="text" >
</div>

   <div>
   <label>乖離理由</label>
     <textarea style="width:100%;"  placeholder="乖離理由を入力" rows="2"></textarea>
   </div>
   <br>
   <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block">登録する</button>
   </div>
</div>   
</form>
