<div class="container">
<h3 class="bg-primary">案件遂行に伴う問題点・課題</h3>
<form class="form-horizontal well" role="form">
<div class="form-group">
   <label class="control-label">品質</label>
     <textarea class="form-control"  placeholder="品質を入力" rows="2"></textarea>
 </div>
 <div class="form-group">
   <label class="control-label">コスト</label>
     <textarea class="form-control" placeholder="コストを入力"  rows="2"></textarea>
 </div>
 <div class="form-group">
   <label class="control-label">納期</label>
     <textarea class="form-control" placeholder="納期を入力"  rows="2"></textarea>
 </div>
 <div class="form-group">
   <label class="control-label">その他</label>
     <textarea class="form-control" placeholder="その他を入力"  rows="2"></textarea>
 </div>
 <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block">登録する</button>
       </div>
</div>
</form>
</body>
