<div>
	<h3 class="bg-primary">稼動報告（入力欄）</h3>
	<div ng-show="!addItemForm.$valid">
    	<div class="alert alert-warning" role="alert">必須項目を入力してください</div>
	</div>

	<form role="form" name="addItemForm" ng-submit="addItem()" novalidate>

	<div class="form-group">
	    <label for="mydate">日付：</label>
	    <input type="text" class="span3" style="width:100%;" id="mydate" ng-model="item.date" placeholder="日付を入力" >
	</div>
	<script>
		$('#mydate').datepicker({
		    language: 'ja',
		    format: "yyyy/mm/dd",
		    todayBtn: "linked"

		});
	</script>
		<div class="form-group">
		   <label>出勤(予定)</label>
		   <input type="text" class="span3" style="width:100%;" placeholder="出勤(予定)を入力" ng-model="item.arrivedWorkPlan" step="600" required >
		</div>
		<div class="form-group">
			<label>退勤(予定)</label>
			<input type="text" class="span3"  style="width:100%;" placeholder="退勤(予定）を入力 "ng-model="item.leftWorkPlan" step="600" required >
		</div>
		<div class="form-group">
		<label>出勤</label>
		<input type="text" class="span3" style="width:100%;" placeholder="出勤を入力" ng-model="item.arrivedWork" step="600" >
		</div>
		<div class="form-group">
		<label>退勤</label>
		<input type="text" class="span3" style="width:100%;" placeholder="退勤を入力" ng-model="item.leftWork" step="600" >
		</div>
	   <div class="form-group">
	   <label>乖離理由</label>
	     <textarea style="width:100%;"  placeholder="乖離理由を入力" ng-model="item.etc" rows="2"></textarea>
	   </div>

	   <div class="form-actions">
			<button class="btn btn-primary btn-block">登録する</button>
	   </div>  
	</form>
